.searchHeaderDate::placeholder{
    color:#000;
    opacity: 40%;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}
.searchHeaderName::placeholder{
    color:#000;
    opacity: 40%;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}



.header{

    display: flex;
    min-width: 90vw;
    justify-content: space-around;
    align-items: center;
    background-color: #d62451;
    gap : 2vw;
    font-size: clamp(5px,2vw,15px);
    margin-left:auto;
    margin-right:auto;
    border-radius: 10px;
    padding: 10px;
    z-index: 99;
}

.mainSearch {
    background-color: #feffc3;
    width : 50vw;
    height :fit-content;
    padding : 2vh;
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    z-index : 100;
    margin-left : auto;
    margin-right : auto;
    border-radius: 10px;

}

.adItem {
    display : flex;
    justify-content: center;
    align-items: center;
    width : 50vw;
    margin-bottom: 2vh;


}

.ongletSearch {
    width : 20vw;
    display : flex;
    justify-content: center;
    align-items: center;

}

.imgSearch {
    width: 10vw;
    border-radius: 10px;

}

.cardSearch {
    width : 50 vw;

}

.inscription{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    background-color: #feffc3;
    text-transform: uppercase;
    color:#d62451;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.inscription:hover{
    background-color: #04045ac9;
    color:#feffc3;
}

.connexion{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #feffc3;
    text-transform: uppercase;
    color:#d62451;
    padding: 1vh;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(5px,2vw,15px);
    transition: background-color 0.3s ease;
}

.connexion:hover{
    background-color: #04045ac9;
    color:#feffc3;
}
.deconnexion{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #feffc3;
    text-transform: uppercase;
    color:#d62451;
    padding: 1vh;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(5px,2vw,15px);
    transition: background-color 0.3s ease;
}

.deconnexion:hover{
    background-color: #04045ac9;
    color:#feffc3;
}
.logo{
   display: flex; 
    justify-content: center;
    align-items: center;
    font-weight: 800;
    text-transform: uppercase;
    color: #feffc3;
    width: 12vw;
    margin: 0;
    padding: 1vh;
    border-radius: 15px;
}


.buttonUser{
    display: flex;
    width: fit-content;
    gap:2vw;
}

.searchHeaderName{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#feffc3;
    width: 350px;
    height: 4vh;
    border-radius: 5px;
    border:none;
}

.searchHeaderDate{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#feffc3;
    width: 200px;
    height: 4vh;
    border-radius: 5px;
    border:none;
}


.searchButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    background-color: #2f114b;
    text-transform: uppercase;
    color:#ebeaea;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchButton:hover{
    background-color: #4f3969;
    color:#feffc3;
}

.searchContainer {
    display: flex;
    gap: 1vw;  
    align-items: center;
}

.betweenSearchBars {
    color:#2f114b;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;

}
