.mainHero{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    width: 90vw;
    margin: auto;
    padding: 0;
    font-size: clamp(5px,2vw,20px);
}



.hero{
padding: 2vh;
margin: 2vh;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
width: 60%;
flex-wrap: wrap;
min-height: 30vh;
font-size: clamp(15px,5vw,30px);
gap:2vh;
text-align: center;
}

.imgHero{
    display: flex;
    align-items: center;
    gap:2vh;
    width: 30%;
    z-index: -1;
}

.bghero{
    background-color:#feffc3;
    border-radius: 100px;
    width: 90%;
    object-fit: cover;
    box-shadow: 5px 5px #350b59;
}

.textHero{
    margin: 0;
    color: #FFF;
    font-weight: 600;
}

.bubbleHero{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #feffc3;
    background-color: #350b59;
    border-radius: 200px;
    height: 5vh;
    font-size: large;
    width: 10vw;
    padding: 1vh;
    text-align: center;
    font-size: clamp(5px,2vw,20px);;

}

.promesse{
    width: 100%;
    margin: 0;
    color: #feffc3;
    font-weight: 900;
    font-size: clamp(30px,4vw,60px);
}


.allButtonHero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5vw;
}

.buttonHero{
    border: 2px solid #feffc3;
    padding: 2vh;
    text-align: center;
    border-radius: 5vw;
    color: #feffc3;
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
    cursor: pointer;
    font-size: clamp(8px,3vw,20px);
}

.buttonHero:hover{
    background-color: #04045ac9;
}



.blocHero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    
}
