.main {
    display: flex;
    flex-direction:row;
    margin : auto;
}


.mainTicket{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 90vw;
    margin: auto;   
    padding: 2vh;
    gap:5vh;
}


.mainTicket{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 90vw;
    margin: auto;   
    padding: 2vh;
    gap:5vh;
}

.titleTicket{
    font-size: clamp(25px,5vw,50px);
    color:#feffc3;
    text-transform: uppercase;
    margin: 0;
    padding: 0;

}

.textTicket{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 15vw;
}

.subTicket{
text-align: center;
    font-size: clamp(12px,5vw,20px);
    margin: 0;
    padding: 0;
    color: #fFF;
    font-weight: 600;
}

.goToPayment{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    background-color: #2f114b;
    text-transform: uppercase;
    color:#ebeaea;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.goToPayment:hover{
    background-color: #4f3969;
    color:#feffc3;
}
